a:link {color: rgb(0, 0, 0);}
a:hover {color: rgb(128, 130, 240);}
a:visited {color: rgb(0, 0, 0);}
a:active {color: rgb(0, 0, 0);}
a:focus {color: rgb(0, 71, 238);}
label:checked {color: rgb(14, 165, 192);}
accent-color:checked {color: rgb(14, 165, 192);}
/* 전체 페이지 스타일 */

#main-page {
  max-width: 1200px;
  margin: 0 auto;
}

/* 기본 카드 스타일 */
.main-container, #main-aside {
    background: #FFFFFF; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
}

/* 버튼 스타일 */
button {
    background-color: #2D6AAD;
    color: white;
    border: none;
    padding: 11px 21px;
    border-radius: 20px;
    font-size: 14px;
}

button:hover {
    background-color: #3700B3;
}

/* 메인 컨테이너와 사이드바 정렬 */
#main-content {
    display: flex;
    gap: 20px;
}

/* 사이드바 스타일 */

.search {
  margin-top: 25px;
  margin-right: 20px;    
}

/* 검색창 스타일 */
input[type="text"] {
    height: 33px;
    width: 350px;
    border-radius: 20px;
    border: 3px solid #2D6AAD;
    padding-left: 10px;
}

/* 로고 설정 */
.logo{
  width: 55px; 
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  }

#title {
    font-size: 30px;
    color: #000;
    margin-top: 16px;
    margin-left: 11px;
}

#subtitle {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    margin-left: 11px;
}

#main-navigation {
    margin-top: 20px;
    margin-left: 10px;
}









/* 메인 컨테이너 스타일 */


#main-content {
    
    background-color: #f0f0f0;
    border-radius: 35px;
    margin-top: 20px;
    padding: 20px;

}


#bgimg {
    width: 100%;    
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


#bgtext {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    padding: 10px;
    border-radius: 8px;

}

#main-aside {
    border-radius: 20px;
    padding: 30px;
    font-size: 15px;
}







/* 세컨드 컨테이너 스타일 */

#sc-container{
    background-color: #f0f0f0;
    border-radius: 35px;
    margin-top: 20px;
    padding: 20px;
}

#sc-container1, #sc-container2, #sc-container3 {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
}




/* 학사 일정 스타일 */

#main-a, #main-c {
    height: 45px;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -30px;
    margin-right: 100px;
    padding: 15px;
}

#main-b, #main-d {
    height: 45px;
    background-color: #f5f5f5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -30px;
    margin-left: 100px;
    padding: 15px;
}
