
hr {

    display: block;
  
    margin-top: 1em;
  
    margin-bottom: 1em;
  
    margin-left: auto;
  
    margin-right: auto;
  
    border-style: inset;
  
    border-width: 10px;

  }

  
.image1 {
    width: 120px; 
    height: 130px;
    }

.image1-1 {
    width: 100px; 
    height: 100px;
    }

.image4 {
        width: 40px; 
        height: 30px;
    }

    h2 {
        color: rgb(0, 113, 166);
        
    }
    h3 {
        color: rgb(0, 0, 128);
        background-color: rgb(221, 223, 255);
        
    }

    }
    span {
        background-color: #ff8;
        font-weight: bold;
    }

    #id1 {
        color: red;
        background-color: rgb(255, 221, 221);
        font-weight: bold;
        font-size: 150%;
    }
    
    .blue {
        color: rgb(0, 255, 102);
        background-color: rgb(8, 0, 255);
    }

    .large {
        font-size: 120%;
    }
    
    a {
        text-decoration-line: none;
    }

    a[download] {
        color: green;
    }
    
    fieldset {
        border: 3px solid lightseagreen;
        padding: 10px;
        margin: 10px 0;
        }

    legend {
        font-size: 17px;
        font-weight: bold;
        color: rgb(178, 32, 32);
    }

    label {
        font-size: 15px;
        accent-color: rgb(255, 0, 0);
    }

    
    