
hr {

    display: block;
  
    margin-top: 1em;
  
    margin-bottom: 1em;
  
    margin-left: auto;
  
    margin-right: auto;
  
    border-style: inset;
  
    border-width: 10px;

  }

  
.image1 {
    width: 120px; 
    height: 130px;
    }

.image1-1 {
    width: 100px; 
    height: 100px;
    }

.image2 {
    width: 100px; 
    height: 100px;
    }

.image4 {
        width: 40px; 
        height: 30px;
    }

    h2 {
        color: green;
        background-color: #def;
        
    }
    p {
        color: #209134;
        width: 300px;
    }
    span {
        background-color: #ff8;
        font-weight: bold;
    }