a:link {color: rgb(0, 0, 0);}
a:hover {color: rgb(128, 130, 240);}
a:visited {color: rgb(0, 0, 0);}
a:active {color: rgb(0, 0, 0);}
a:focus {color: rgb(0, 71, 238);}
label:checked {color: rgb(14, 165, 192);}
accent-color:checked {color: rgb(14, 165, 192);}

/* 전체 페이지 스타일 */

#main-page {
  max-width: 1200px;
  margin: 0 auto;
}

/* 기본 카드 스타일 */
.main-container, #main-aside {
    background: #FFFFFF; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
}

/* 버튼 스타일 */
button {
    background-color: #2D6AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #3700B3;
}

/* 메인 컨테이너와 사이드바 정렬 */
#main-content {
    display: flex;
    gap: 20px;
}

/* 사이드바 스타일 */

.search {
  margin-top: 25px;
  margin-right: 20px;    
}

/* 검색창 스타일 */
input[type="text"] {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 3px solid #2D6AAD;
}

/* 로고 설정 */
.logo{
  width: 55px; 
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  }

#title {
    font-size: 30px;
    color: #000;
    margin-top: 16px;
    margin-left: 11px;
}

#subtitle {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    margin-left: 11px;
}

#main-navigation {
    margin-top: 20px;
    margin-left: 10px;
}









#main-content {
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}


#bg-container {
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.box {
    border-radius: 20px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}


#bgimg {
    margin-top: 20px;
    width: 100%; 
    height: auto;
    border-radius: 20px;
}


#bgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#main-aside {
    background-color: #e6e6e6;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


